@media screen and (max-width:1200px){

   .textapresentacao{
    width: 100%;
    max-width: 500px!important;
   }
   #descricaoapresentao{
    width: 100%;
    font-size: 20px!important;
   }
   .flex-butoon{
    width: 90%;
   }
   .containerperfil{
    height: 850px;
   }
   .scroll{
    display: none;
   }
   .t2{
    font-size: 50px;
   }
   .flex-sobre-mim{
    gap: 10px;
   }
   .txtdestaque{
    font-size: 50px;
   }
   .destaque2{
    line-height: normal;
   }
   .flexstakconteudo{
    width: 90%!important;
    
   }
   .flexbuttonstak{
    width: 60%;
   }
   #cssbuttoncontato{
    width: 45%;
    justify-content: space-between;
    gap: 5px;
    
   }
   #bottomtxtcontato{
    width: 50%;
    font-size: 16px!important;
    margin: 0px!important;
   }

   .disponibilidade{
    padding: 15px;
   }









}