@media screen and (max-width: 1300px) {

    .padding01, .padding02, .padding03, .padding04{
        padding-left: 50px;
    }
    .textapresentacao{
        width: 100%;
        max-width: 600px;
    }
    .textapresentacao h3{
        font-size: 70px;
    }
    #descricaoapresentao{
        width: 100%!important;
    }
    .flex-butoon{
        width: 90%;
    }

    .scroll{
        display: none;
    }
    .titulo-section-sobre{
        margin-top: 20px;
    }
    .t2{
        font-size: 50px;
    }
    .txtdestaque{
        font-size: 70px;
    }
    .destaque2{
        line-height: normal;
    }
    .flexbuttonstak{
        width: 50%;
    }
    .flexatalhos{
        height: auto;
    }
    #bottomtxtcontato{
        width: 60%;
        margin: 0px!important;
        font-size: 18px!important;
    }

    #cssbuttoncontato{
        justify-content: space-between;
        gap: 5px;
    }



    




}
