@media screen and (max-width:1280px){

    .textapresentacao , .padding01 , .padding02 , .padding03 , .padding04 {
    
         padding-left: 40px !important;
        
    
    }
     
    .descricaocard h1{
        width: 100%;
        font-size: 25px;
        
        
    }
    .titulo-section-sobre{
        margin-top: 100px;
        
    }
    .text-sobre-min{
        margin-top: 10px;
    }
    .boxtxt{
        width: 80%;
    }
    #txtsobrecinza{
        font-size: 45px;
    }
    #tec{
        font-size: 12px;
    }
    .buttonapresentacao1 , .buttonapresentacao2{
        font-size: 20px;
    }
    .carddestaque01 , .carddestaque02{
        width: 55%;
        height: 700px;
    }
    
    #ultimocard{
        display: none;
    }
    .flexbuttonstak{
        width: 45%;
    }
    .flexstakconteudo{
        width: 98%;
        gap: 0px;
    }
    .tecnologiasstack{
        width: 50%;
    }
    #bottomtxtcontato{
        font-size: 20px;
    }
    .txtcontato{
        width: 50%;
        
        
    }
    .txtgithub{
        width: 25%;
    }
    .txtwhatsapp{
        width: 65%;
        
        margin: 0px !important;
        
    }
    
    .boxtxt{
        width: 60% !important;
    }










}