

@media screen and (max-width: 590px) {

    .padding01 , .padding02, .padding03, .padding04{
        padding-left: 5px!important;
    }
    .t2{
        height: auto;
        font-size: 40px!important;
    }
    #txtsobrecinza{
        font-size: 20px!important;
    }






    
    .NavMobile {
        width: 100%;
        display: flex;
        padding-left: 5px;
        padding-right: 5px;
        margin-bottom: 50px;
        
    }
    
    .textapresentacao{
        padding-left: 5px!important;
    }
    .textapresentacao h3{
        font-size: 45px!important;
    }
    .textapresentacao h2{
        font-size: 45px!important;
        margin-bottom: 10px;
    }
    .cursor{
        font-size: 20px!important;
        margin-bottom: 0px!important;
    }
    .statusapresentacao{
        width: 200px!important;
        min-width: 200px!important;
        font-size: 18px!important;
    }
    .statusapresentacao p{
        
        font-size: 12px!important;
    }
    #descricaoapresentao{
        font-size: 20px!important;
    }
   
    .flex-butoon{
        width: 90%;
    }

    .flexnumeros{
        font-size: 12px;
    }
    .cardapresentacao{
        width: 340px!important;
        min-width: 340px!important;
        margin-top: 0px!important;
    }
    .containercard{
        width: 340px!important;
        
    }
    #containerperfil{
        height: 1600px!important;
        padding-top: 0px!important;
    }
    .containerperfil{
        padding-top: 15px!important;
    }

    #tec{
        font-size: 12px!important;
    }
    .text-sobre-min{
        width: 100%;
    }
    .padding02 {
        margin-top: 1700px !important;
    }
    .destaque2 {
        width: 80% !important;
        
        margin-top: 80px;
        
        
    }

    .paginaPrincipal{
        margin-top: 70px;
    }
    #animacaolinkdemo{
        width: 50%;
    }
    #projetos {
        height: 6700px !important;
    }
    .txtcontatoprimario h1{
        font-size: 40px!important;
    }
    .txtcontatoprimario p{
        font-size: 16px!important;
        width: 330px!important;
    }
    .flex-sobre-mim{
        margin-top: 10px!important;
        
    }
    .text-sobre-min{
        font-size: 18px!important;
    }
    .boxtxt{
        width: 100%!important;
        flex-direction: column;
    }
    #boxsobre{
        width: 100%!important;
    }
    .padding02 {
        margin-top: 1500px !important;
    }
    .txtdestaque p{
        font-size: 50px!important;
    }
    .txtdestaque {
        height: auto;
    }
    .destaque2{
        margin-top: 0px!important;
        height: auto!important;
    }
    .flexh1work {
        height: 250px;
        gap: 0px;
    }
    .imput{
        width: 100%!important;
    }
    .flexatalhos{
        margin-top: 0px;
        height: auto!important;
    }
    .flexcardworkdestaque{
        width: 100%;
    }
    .txtcarddestaque p{
        font-size: 20px;
    }
    .txtcarddestaque02 p {
         font-size: 20px;
    }
    .linksdemocard01, .linksdemocard02{
        width: 100%;
        
    }
    .linkdemo01 , .linkdemo02 {
        font-size: 16px;
    }
    #animacaocodigo{
        font-size: 16px;
    }
    .txtcarddestaquegeral p{
        font-size: 20px!important;
    }
    .flexcardworkgeral{
        width: 100%!important;
    }
    .totalcards{
        width: 100%;
    }
    #projetos{
        height: auto!important;
    }
    .buttomGaleria{
        width: 70%!important;
    }

    .padding03{
        margin-top: 0px!important;
    }
    .flextxtstak{
        font-size: 30px!important;
    }
    .flextitulostak{
        font-size: 12px;
    }
    .flexstakconteudo, .flexbuttonstak{
        width: 100%;
        
    }
    #cssbuttonstack{
        font-size: 18px!important;
    }
    #bottomtxt{
        width: 20%;
        font-size: 16px!important;
    }
    .tecnologiasstack{
        width: 100%;
    }
    .container {
        
        height: 1400px;
        
    }
    .flexTituloContato {
        font-size: 12px;
    }
    .txtcontatoprimario{
        height: auto;
        margin-bottom: 0px;
    }
    .flexlinkscontato{
        margin-top: 50px;
    }
    .flexlinkscontato{
        width: 100%;
    }
    #bottomtxtcontato{
        width: 60%!important;
        margin: 0px!important;
        font-size: 16px!important;
    }
    #cssbuttoncontato{
        justify-content: space-around;
        gap: 0px;
    }
    .disponibilidade{
        width: 100%;
        padding: 20px!important;
    }
    #svgfooter{
        display: none;
    }
    .paddingfooter{
        width: 100%;
        padding: 0px!important;
    }
    .flexlogofooter{
        width: 100%;
        align-items: center;
        font-size: 20px;
    }
    .whatts{
        top: 90%;
        left: 75%;
    }
}
