@media screen and (max-width: 500px) {
    .containerperfil{
        
        margin-top:-750px;
    }

    .NavMobile{
        width: 100%!important;
        padding: 0px!important;
        height: 50px!important;
    }
    .textapresentacao{
        padding: 10px!important;
    }
    .statusapresentacao{
        width: 200px!important;
        min-width: 100px !important;
        font-size: 12px!important;
    }
    h3{
        font-size: 50px!important;
    }
    h2{
        font-size: 60px!important;
    }
    #efeito-escrever{
        font-size: 18px!important;
    }
    #descricaoapresentao{
        font-size: 20px!important;
    }
    .flex-butoon{
        width: 90%!important;
    }
    .flexnumeros{
        font-size: 16px!important;
    }
    .cardapresentacao{
        width: 390px !important;
        min-width: 100px !important;
        margin-top: 150px!important;
    }
    .containercard{
        width: 100%!important;
        
    }
    .descricaocard h1{
        font-size: 25px!important;
        
    }
    .titulo-section-sobre{
        margin-top: -50px!important;
    }
    .padding01 , .padding02, .padding03, .padding04, .paddingfooter{
        padding: 10px!important;
    }
    .padding02{
        margin-top: 1600px!important;
    }
    .padding03{
        margin-top: 100px!important;
    }

    .espacador-sobre-mim{
        width: 20%!important;
    }
    .titulo-section-sobre{
        font-size: 25px!important;
    }
    .t2 p{
        font-size: 45px!important;
    }
    #txtsobrecinza{
        font-size: 25px!important;
        margin-top: 20px;
    }
    .flex-sobre-mim{
        margin-top:20px!important;
    }
    .text-sobre-min p{
        font-size: 20px!important;
    }
    .boxtxt{
        flex-direction:column!important;
    }
    #boxsobre{
        width: 90%!important;
    }
    .txtdestaque{
        font-size: 60px!important;
        height: 100px!important;
    }
    .destaque2{
        width: 80%!important;
        font-size: 20px!important;
        margin-top: 0px;
        height: 100px!important;
    }
    .flexh1work{
        height:250px!important;
    }
    .imput{
        width: 100%!important;
    }
    .flexatalhos{
        margin-top: 20px!important;
    }
    .flexcardworkdestaque{
        width: 100%!important;
        margin-top: 450px;
    }
    .flexcardworkgeral{
        width: 100%!important;
    
    }
    .txtcarddestaque, .txtcarddestaque02{
        font-size: 20px!important;
    }
    .txtcarddestaquegeral p {
        font-size: 20px!important;
    }
    #tec{
        font-size: 16px!important;
    }
    .linksdemocard01, .linksdemocard02, .linksdemocardgeral{
        width: 100%!important;
        font-size: 16px!important;
    }
    #projetos{
        height: 6500px!important;
    }
    .buttomGaleria{
        width:80%!important;
    }
    .flextitulostak{
        font-size:18px;
    }
    .flextxtstak{
        font-size: 35px!important;
    }
    .flexbuttonstak{
        width: 100%!important;
        
    }
    #bottomtxt{
        
        font-size: 18px!important;
    }
    .iconstakfrontend , .iconstakbackend, .iconstakferramentas{
        width: 50%;
    }
    .tecnologiasstack{
        width: 100%!important;
    }
    #containerstak{
        height: 1500px!important;
    }
    .txtcontatoprimario{
        margin-bottom: 0px;
    }
    .txtcontatoprimario h1{
        
        width: 400px!important;
        font-size: 50px!important;
    }
    .txtcontatoprimario p{
        width: 400px!important;
        font-style: italic;
        font-size: 20px!important;
    }
    .flexlinkscontato{
        width: 100%!important;
        
    }
    #cssbuttoncontato{
        width:100%!important;
        gap:10px!important;
        justify-content: space-between;
        padding-left: 20px;
        padding-right: 20px;
        
    }
    #bottomtxtcontato{
        width: 50%!important;
        font-size: 15px!important;
        margin: 0px!important;
    }
    .txtcontato{
        margin: 0px!important;
    }
    .disponibilidade p{
        width: 100%!important;
        font-size: 18px!important;
        


    }
    .disponibilidade{
        width: 100%!important;
        padding: 20px!important;
        
    }
    .flexdisponibilidade{
        padding: 0px!important;
        width: 100%!important;
    }
    .flexlogofooter p{
        font-size: 18px!important;
    }
    .flexlogofooter{
        align-items: center!important;
    }
    .flexlogofooter{
        justify-content: space-around;
    }
    #svgfooter{
        display: none;
    }
    .whatts {
        width: 70px;
        height: 70px;
        background-color: #25d366;
        position: fixed;
        top: 85%;
        left: 78%;}
    
}