@media screen and (max-width: 00px) {
    .NavMobile {
        width: 100%;
        display: flex;
        padding-left: 5px;
        padding-right: 5px;
        margin-bottom: 50px;
       
    }
    .cursor{
        margin-bottom: 50px!important;
    }
    .flex-butoon{
        width: 100%;
    }

    .flexnumeros{
        font-size: 12px;
    }
    .cardapresentacao{
        width: 320px!important;
        margin-top: 250px!important;
    }
    .containercard{
        width: 320px!important;
        
    }
    #containerperfil{
        height: 1800px!important;
    }

    #tec{
        font-size: 12px!important;
    }
    .text-sobre-min{
        width: 100%;
    }
    .padding02 {
        margin-top: 1700px !important;
    }
    .destaque2 {
        width: 80% !important;
        
        margin-top: 80px;
        
        
    }

    .paginaPrincipal{
        margin-top: 70px;
    }
    #animacaolinkdemo{
        width: 50%;
    }
    #projetos {
        height: 6700px !important;
    }
    .txtcontatoprimario h1{
        font-size: 40px!important;
    }
    .txtcontatoprimario p{
        font-size: 16px!important;
        width: 330px!important;
    }

    
    
    
    
   
    
}