
@media screen and (max-width: 590px){
    .container-conteudo-demo{
        width: 98%;
        
        
         
    }
    .flex-voltar{
        width: 25%!important;
        gap: 1px;
        font-size: 16px;
        color: white;
        font-weight: bold;
    }
    #tituloProjeto{
        font-size: 15px;
    }
    #logoDemo{
        width: 11%;
        height: auto;
        margin-right: 0%;
        align-items: center;
        text-align: center;

    }
    #logoDemo p{
        line-height: 38px;
        font-size: 18px;
    }
    .flextitulotxtDemo{
        font-size: 10px;
    }

    .video iframe {
        width: 95%;
        aspect-ratio: 16 / 9;
        border: none;
    }

    #tituloDescritivo{
        width: 95%;
        flex-direction: column!important;
        height: auto;
        gap:10px;
    }

    .flextxtDemo{
        height: auto;
        flex-direction: column;
    }
    .txtProjetoDemo , .sobreTecnologias{
        width: 100% !important;
        
        
    }
    .tecdemo{
        width: 40%;
    }
    .txtdescricao{
        width: 100%!important;
        font-size: 21px;
        text-align: left;
        padding: 10px;
        
    }
    .Funcionalidades{
        margin-top: 0px!important;
    }
    .flexdivisorfuncionalidade{
        margin-top: 40px;
    }
    .totalflexfuncionalidades{
        flex-direction: column;
        gap:0px
    }
    .txtfuncionalidade , .flexcardsfuncionalidade , .cardfuncionalidade{
        width: 95%;
        margin: 0 auto;
       
    }
    .cardfuncionalidade{
        width: 48%!important;
        font-size: 12px!important;
    }
   
    .flexdivisorfuncionalidade ,.flexdesafios{
        width: 100%;
    }
    .carddesafio{
        width: 95%;
        font-size: 19px;
        padding-right: 10px;
    }
    .txtaprendizado{
        width: 95%;
    }
     
    .cardchamada{
        width: 95%;
        height: auto;
        padding: 20px;
        margin-bottom: 20px;
    }
    .status{
        width: 100%!important;
        font-size: 12px;
        text-align: center;
    }
    .cardchamada  h1{
        font-size: 25px!important;
    }
    #pcard{
        width: 100%;
    }
    .buttonchamadaflex{
        width: 100%;
        gap: 10px;
        
    }
    .buttomEmail{
        display: none;
    }
    .buttomzap, .buttomGitHUb{
        width: 50%;
        font-size: 10px;
        
    }
    .buttomGitHUb{
        padding: 0px!important;
    }
    .buttomzap p , .buttomGitHUb p{
        display: none;
        
    }
    
    
    .svgGitihubChamada{
        
        width: 100%!important;
               
        
    }
    .svgGitihubChamada svg{
        width: 100%!important;
        height: 100%!important;
    }
    .footer{
        display: none;
    }
    .indice{
        width: 70px;
        height: 40px;
    }
    .svgcheck {
        width: 80%!important;
        height: 40%!important;
        background-color: #8339eb00!important;
        border-radius: 50%;
        margin-top: -5%;
        text-align: center;
        align-items: center;
        line-height: 55px!important;
    }

    .imgfuncionalidades{
        width: 100%!important;
        height: 350px!important;
    } 

    .imgfuncionalidades img{
        width: 80%!important;
        height: 400px!important;
        display: block;
        margin:  auto;
    } 
    













    .imgavatar{
       width: 100%!important;
        height: 350px!important;
        
        
    } 

    .imgavatar img{
        width: 80%!important;
        height: 350px!important;
        display: block;
        margin:  auto;
    } 
}