
.container{
    width: 100%;

    padding-left: 90px;
    overflow: hidden;
     z-index: -1;
    position: absolute;
}


.fundo{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
    gap: 0px;
    z-index: -1;
}
.quadrado{
    width: 70px;
    height: 70px;
    border: 1px solid rgba(128, 128, 128, 0.021);
     z-index: -1;
}