
.NavMobile , .selectNavMobile{
    display: none;
}


nav{
    width: 90px;
    height: 100vw;
    background-color: #0a0a0f;
    padding-top: 50px;
    position: fixed;

    border-right: 1px solid #e3e3e31f;
    
    
}

.logo{
    width: 45px;
    height: 45px;
    background: linear-gradient( to bottom right, #8239eb 5% , #bb28d5 );
    border-radius: 10px;
    box-shadow: 0px 0px 10px #bb28d5 ;
    margin: auto;
    font-family: var(--fonte-principal);
}
.logo p{
    
    color: #fff;
    font-size: 25px;
    text-align: center;
    line-height: 50px;
}
.navegacao{
    width: 100%;
    height: 250px;
    
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-bottom: 300px;
}
#nav{
    width: 70px !important;
    height: 35px;
    margin: auto;
    border-radius: 5px;
    position: relative;
    display: inline-block;
    
    /* Define a cor do preenchimento */
    
    
    /* CONTROLANDO A TRANSPARÊNCIA: 
       Aqui é onde a mágica acontece. 0.3 deixa ele bem clarinho. */
    fill-opacity: 0.9; 
    
    /* Se você quiser que ele pareça um pouco mais "grosso", 
       pode adicionar um stroke da MESMA COR do fill */
    
    stroke-width: 5px; /* Um valor pequeno aqui já ajuda a dar peso */
    stroke-opacity: 0.4; /* Mantém a mesma transparência da linha */
    
    
}

/* animacao link nav */

.titleNa{
    width: 100%;
    height: 25px;
    background-color: #141427;
    position: absolute;
    top: 15%;
    left: 115%;
    border-radius: 5px;
    text-align: center;
    color: #fff;
    font-family: var(--fonte-principal);
    border: 1px solid #616060;
    line-height: 20px;
    opacity: 0;
    visibility: hidden;
    transform: translateY(10px); /* Começa 10px abaixo */
  
    /* Transição suave de 0.4 segundos */
    transition: all 0.4s ease-out;
}
#nav:hover .titleNa {
    opacity: 1;
    visibility: visible;
    transform: translateY(0); /* Move para a posição original */
  
}


#nav svg{
    width: 100%;
    height: 100%;
    fill: #686868; 
}
.social{
    width: 100%;
    height: 100px;
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.linkedin p{
    color: #b0afaf7a;
    font-family:  sans-serif;
    font-size: 18px;
    
}
.linkedin a{
    text-decoration: none;
}

#social{
    width: 15px;
    height: 20px;
    margin: auto;
    border-radius: 5px;
    /* Define a cor do preenchimento */
    fill: #b0afaf98; 
    
    /* CONTROLANDO A TRANSPARÊNCIA: 
       Aqui é onde a mágica acontece. 0.3 deixa ele bem clarinho. */
    fill-opacity: 0.5; 
    stroke-opacity: 0.4; /* Mantém a mesma transparência da linha */
    text-align: center;
    cursor: pointer;
}
.github:hover #navgithub{
    fill: #ffffff;
}
.linkedin:hover p{
    color: #ffffff;
}
.instagram:hover #navinstagram{
    fill: #ffffff;
}

.linkedin p{
    color: #b0afaf7a;
    font-family:  sans-serif;
    font-size: 18px;
}
.home{
    
    background-color: #1c0f22;
    border: 1px solid #b762df;
    
}
.home svg{
    fill:  #c580e5!important;
    
}#nav{
    display: flex;
}



