.sobre-mim{
    width: 100%;
    height: 1090px;
    color: #fff;
}
.padding{
    width: 100%;
    height: 1500px;
    padding-left: 250px;
}
.titulo-section-sobre{
    width: 100%;
    height: 100px;
    margin-top: 150px;
    display: flex;
    font-family: 'Franklin Gothic ', 'Arial Narrow', Arial, sans-serif;
    font-size: 40px;
    align-items: center;
    gap: 20px;
    color: rgb(179, 111, 243);
    font-weight: bold;
}
.espacador-sobre-mim{
    width: 100px;
    height: 2px;
    background-color: rgb(181, 113, 245);
}
.t2{
    width: 100%;
    height: 200px;
    font-weight: bold;
    font-size: 70px;
    font-family: 'Franklin Gothic ', 'Arial Narrow', Arial, sans-serif;
}
#txtsobrecinza{
    color: #4b5563;
    margin-top: -15px;
}
.flex-sobre-mim{
    width: 100%;
    height: 500px;
    
    display: flex;
    gap: 50px;
}
.text-sobre-min{
    width: 30%;
    font-size: 25px;
    color: #5c6064;
    font-family: 'Franklin Gothic ', 'Arial Narrow', Arial, sans-serif;
    font-weight: 100;
    text-align: justify;
}

#setortrajetoria{
    margin-top: 20px;
    margin-bottom: 30px;
    color: rgb(172, 168, 177);
    font-weight: 900;
}
.traj01{
    width: 100%;
    height: 100px;
    display: flex;
    gap: 20px;
    align-items: center;
    margin-bottom: 40px;
    
}
.boolets{
   width: 10%;
   height: 100%;
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 10px;
}
.bole{
    width: 20px;
    height: 20px;
    background-color: rgb(105, 105, 112);
    border-radius: 50%;


}
#statusatual{
    background-color: #ad8fff;
}
.traco{
    width: 1px;
    height: 70px;
    background-color: rgb(141, 141, 145);
}
#colorbranco{
    color: #ffffffc4;
    margin-bottom: 5px;
    font-weight: bold;
    font-family: 'Franklin Gothic ', 'Arial Narrow', Arial, sans-serif;
}
.flexano{
    display: flex;
    gap: 20px;
    margin-bottom: 10px;
}
#statustrabalho{
    width: 70px;
    height: 30px;
    border-radius: 20px;
    text-align: center;
    background-color: #1e1732;
    color:#9d79ff ;
    font-size: 20px;
    line-height: 30px;
}

.boxtxt{
    width: 60%;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    
}
#boxsobre{
    width: 40%;
    height: 400px;
    background-color: #5c606456;
    border-radius: 30px;
    padding: 30px;

}
