
.padding03{
   width: 100%;
   padding-left: 250px;
   height: 950px;
}
.flextitulostak{
    display: flex;
    align-items: center;
    gap: 20px;
    color: var(--cor-titulo);
    font-size: 30px;
    font-family: var(--fonte-principal);
    font-weight: bold;
}
.espacador{
    width: 70px;
    height: 2px;
    background-color:var(--cor-titulo)
}
.flextxtstak{
    display: flex;
    color: white;
    font-size: 70px;
    margin-top: 30px;
    margin-bottom: 30px;
    font-family: var(--fonte-principal);
}
.flextxtstak p:nth-child(2){
    color: rgb(65, 65, 65);
    
}
.flexstakconteudo{

    display: flex;
    gap: 20px;
    color: rgba(255, 255, 255, 0.663);
    font-family: var(--fonte-principal);
    
}
.flexbuttonstak{
    width: 40%;
}
.flexbuttonstak{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
#cssbuttonstack{
    width: 90%;
    height: 120px;
    border: 2px solid rgba(129, 129, 129, 0.13);
    display: flex;
    align-items: center;
    gap: 20px;
    border-radius: 30px;
    padding: 30px;
    color:rgb(221, 221, 221)
    
    

}

/* resolver bug do travamento do hover apos o clik para iniciar o js */
.buttonstakbackend:hover{
    background-color: rgba(117, 117, 117, 0.049);
}
.buttonstakferramentas:hover{
    background-color: rgba(117, 117, 117, 0.049);
}


.buttonstakfrontend{
    /* config button select */
    background-color: rgba(102, 51, 153, 0.171);
    border: 1px solid rgba(182, 120, 244, 0.171) !important;
    cursor: pointer;
    
}
.buttonstakbackend , .buttonstakferramentas{
    cursor: pointer;
}
#bottomtxt h1{
    margin-bottom: 5px;
}
#bottomtxt p{
    color: rgb(109, 109, 109);
}
.iconstakfrontend{
    width: 15%;
    height: 100%;
    background-color: rebeccapurple;
    border-radius: 20px;
    text-align: center;
    line-height:80px ;
    
}
.iconstakfrontend  svg{
    width: 60%;
    height: 60%;
    fill: rgb(204, 155, 250);
}

#svg02, #svg03{
    display: none;
}
.txtstakfrontend{
    width: 50%;
    height: 100%;
    font-size: 25px;
    margin-right: 80px;
}
.iconsetastakbuton{
    width: 50px;
    height: 100%;
}
.iconsetastakbuton svg{
    width: 100%;
    height: 100%;
    fill: rgb(181, 113, 245);
}

/* ................ */
.iconstakbackend{
     width: 15%;
    height: 100%;
    border-radius: 20px;
    text-align: center;
    line-height:80px ;
}
.iconstakbackend svg{
    width: 60%;
    height: 60%;
    
}

.txtstakbackend{
    width: 50%;
    height: 100%;
    font-size: 25px;
    margin-right: 80px;
}
/* ................ */
.iconstakferramentas{
    width: 15%;
    height: 100%;
    border-radius: 20px;
    text-align: center;
    line-height:80px ;
}
.iconstakferramentas svg{
    width: 50%;
    height: 50%;
}
.txtstakFerramentas{
    width: 50%;
    height: 100%;
    font-size: 25px;
    margin-right: 80px;
}

.sobre{
    font-size: 20px;
}
.palavraDestaque{
    color: #7226b9;
}

/* cardtecnologia */
.tecnologiasstack{
width: 40%;
border: 3px solid rgba(254, 253, 255, 0.13);
background-color: rgba(122, 122, 122, 0.089);
border-radius: 30px;
padding: 40px;
}

.flextitulocardtecnologia{
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    font-size: 30px;
    gap: 30px;
    font-weight: 900;
    margin-bottom: 30px;
    
}
.svgcardtecnologia{
    width: 40px;
    height: 100%;
}
.svgcardtecnologia svg{
    width: 100%;
    height: 100%;
    fill: rgb(181, 113, 245);
}


.flextxtcardtecnologia{
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    font-weight: 900;
    
}
.flextxtcardtecnologia p{
    color: rgb(110, 110, 110);
}
.barraCarregamento{
    width: 100%;
    height: 10px;
    background-color: rgba(195, 195, 196, 0.13);
    border-radius: 20px;
    margin-top: 10px;
    margin-bottom: 40px;
}
.statusCarregamento01{
    width: 75%;
    height: 100%;
    background: linear-gradient( to bottom right, #8239eb 5% , #bb28d5 );
    border-radius: 20px;
    transition: width 0.8s ease-in-out;
}
.statusCarregamento02{
    width: 90%;
    height: 100%;
    background: linear-gradient( to bottom right, #8239eb 5% , #bb28d5 );;
    border-radius: 20px;
    transition: width 0.8s ease-in-out;
}
.statusCarregamento03{
    width: 85%;
    height: 100%;
    background: linear-gradient( to bottom right, #8239eb 5% , #bb28d5 );
    border-radius: 20px;
    transition: width 0.8s ease-in-out;
}
.statusCarregamento04{
    width: 92%;
    height: 100%;
    background: linear-gradient( to bottom right, #8239eb 5% , #bb28d5 );
    border-radius: 20px;
    transition: width 0.8s ease-in-out;
}
.statusCarregamento05{
    width: 75%;
    height: 100%;
    background: linear-gradient( to bottom right, #8239eb 5% , #bb28d5 );
    border-radius: 20px;
    transition: width 0.8s ease-in-out;
}
.statusCarregamento06{
    width: 98%;
    height: 100%;
    background: linear-gradient( to bottom right, #8239eb 5% , #bb28d5 );
    border-radius: 20px;
    transition: width 0.8s ease-in-out;
}
