
/*manipula a autura do perfil relacionado ao fundo quadrado  */
.containerperfil{
    width: 100%;
    min-height: 100dvh;
    background-image: url(/img/0a0a0f\ \(2\).png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding-top: 0px;
    
}





.flex-profile{
    width: 100%;
    height: 300px;
    color: white;
    

}

.flex-profile{
    display: flex;
    gap: 100px;
    
}
.textapresentacao{
    width: 100%;
    max-width: 850px;
    height: 500px;
    padding-left: 50px;
}
.statusapresentacao{
    width: 250px;
    height: 45px;
    background-color: #362b5875;
    border-radius: 30px;
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    font-family: var(--fonte-principal);
    margin-top: 30px;
}

.statusapresentacao p{
    color:#ad9dc0 ;
    font-weight: bold;
}
.textapresentacao h2{
    font-size: 100px;
    
    margin-top: 20px;
    font-weight: bolder;
    font-family: "geist";
}
.textapresentacao h3{
    font-size: 100px;
    margin-top: -20px;
    font-weight: bolder;
    font-family: var(--fonte-principal);
    
    /* 1. Definimos o gradiente (pode usar o to bottom right que aprendemos) */
    background: linear-gradient( to right, #7138a7 10% , #b45bad 20% );

    /* 2. O segredo: fazemos o fundo "cortar" no formato das letras */
    -webkit-background-clip: text;
    background-clip: text;

    /* 3. Deixamos a cor do texto transparente para o fundo aparecer através dele */
    -webkit-text-fill-color: transparent;
    color: transparent;

  
}
#efeito-escrever{
    height: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 30px;
    font-family: var(--fonte-principal);
    font-weight: bolder;
    color: rgb(180, 180, 180);
    
}

#descricaoapresentao{
    width: 900px;
    font-size: 25px;
    font-family: var(--fonte-principal);
    color: rgba(180, 180, 180, 0.678);
}
.flex-butoon{
    width: 50%;
    height: 100px;
    display: flex;
    gap: 30px;
    margin-top: 40px;
}
.buttonapresentacao1{
    width: 50%;
    height: 70px;
    background: linear-gradient( to  right, #8239eb 5% , #bb28d5 );
    border-radius: 30px;
    text-align: center;
    line-height: 70px;
    font-size: 25px;
    font-weight: bolder;
    font-family: var(--fonte-principal);
    cursor: pointer;
    box-shadow: 0px 0px 5px #bb28d5 ;
    transition: transform 0.2s ease;
}
.buttonapresentacao1:hover {
    /* 1.05 significa que ele vai aumentar 5% do tamanho original */
    transform: scale(1.05); 
}

.buttonapresentacao1 a{
    color: white;
    text-decoration: none;
}
.buttonapresentacao2{
    width: 50%;
    height: 70px;
    border: 1px solid #a09e9e91;
    border-radius: 30px;
    text-align: center;
    line-height: 70px;
    font-size: 25px;
    font-weight: bolder;
    color: rgba(255, 255, 255, 0.733);
    font-family: var(--fonte-principal);
    cursor: pointer;
    transition: transform 0.2s ease;
}
.buttonapresentacao2:hover {
    /* 1.05 significa que ele vai aumentar 5% do tamanho original */
    transform: scale(1.05); 
    background-color: rgba(108, 107, 107, 0.076);
}
.buttonapresentacao2 a{
    color: white;
    text-decoration: none;
}
.flexnumeros{
    width: 50%;
    height: 100px;
    display: flex;
    gap: 30px;
    margin-top: 50px;
    color: rgba(187, 186, 186, 0.795);
    font-size: 20px;
    text-align: center;
}
.flexnumeros h1{
    font-size: 40px;
    font-family: var(--fonte-principal);
    color: rgb(255, 255, 255);
}
.separador{
    width: 1px;
    height: 50px;
    background-color: #a09e9e63;
}

.scroll{
    width: 100%;
    height: 50px;
    padding-left: 75%;
    font-size: 30px;
    color: rgba(255, 255, 255, 0.144);
    margin-top: -20px;
   
    
} 
.seta{
    width: 2px;
    height: 50px;
    background-color: rgba(255, 255, 255, 0.212);
    margin-left: 30px;
}

.cardapresentacao{
    width: 40%;
}
.flex-profile{
        
    gap: 200px;
    
}
.containercard{
    width: 100%;
    max-width: 410px;
    height: 700px;
    background-color:#111118;
    margin-top: 10%;
    border-radius: 30px;
    padding: 30px;
    border: 2px solid #fffefe91;
    box-shadow: 0px 0px 100px #c662d833;
}
.imgprofile{
    width: 100%;
    height: 60%;
    
    border-radius: 30px;
    margin: 0  auto;
    margin-bottom: 10px;
    background-image: url(/img/foto-perfil.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    
}
.flexnomecard{
    width: 100%;
    height: 50px;
    
    display: flex;
    justify-content: space-between;
    padding-right: 10px;
}
.opentowork{
    width: 35%;
    max-width: 350px;
    height: 60%;
    display: flex;
    background-color: #0b6b4b;
    align-items: center;
    gap: 10px;
    margin-top: -50px;
    padding-left: 10px;
    border-radius: 30px;
    font-family: var(--fonte-principal);
    font-weight: bolder;
    font-size: 12px;

}
.descricaocard{
    width: 50%;
    height: 100px;
    margin-bottom: 30px;
    margin-top: 20px;
    
}
.descricaocard h1{
    width: 100%;
    font-size: 25px;
    font-family: var(--fonte-principal);
    font-weight: bolder;
    margin-bottom: 10px;
}
.descricaocard p{
    font-size: 20px;
    font-family: var(--fonte-principal);
    color: rgba(255, 255, 255, 0.493);
    margin-bottom: 30px;
}
.flextec{
    width: 100%;
    height: 100px;
    display: flex;
    gap: 10px;
    margin-top: 80px;
    font-family: var(--fonte-principal);
}
#tec{
    width: 120px;
    height: 40px;
    background-color: #1d1d24;
    border-radius: 30px;
    text-align: center;
    line-height: 40px;
    border: 2px solid #fffefe91;
}
.flexbutoncard {
    width: 100%;
    height: 70px;
    
    margin-top: -40px;
    display: flex;
    gap: 10px;
    align-items: center;

}
.buttoncardflex{
    display: flex;
    align-items: center;
    gap: 10px;
}
/*  */
.buttoncard1 {
    width: 50%;
    height: 80%;
    background-color: #1d1d24;
    border-radius: 30px;
    text-align: center;
    line-height: 40px;
    border: 2px solid #fffefe91;
    cursor: pointer;
    font-family: var(--fonte-principal);
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: center;
    font-size: 20px;
    cursor: pointer;
    transition: transform 0.2s ease;
    text-decoration: none;
    color: #e3e3e39d ;
}

.buttoncard1:hover {
    /* 1.05 significa que ele vai aumentar 5% do tamanho original */
    transform: scale(1.05); 
    background-color: rgba(179, 177, 177, 0.135);
}
.buttoncard2 {
    width: 50%;
    height: 80%;
    background-color: #1d1d24;
    border-radius: 30px;
    text-align: center;
    line-height: 40px;
    border: 2px solid #fffefe91;
    cursor: pointer;
    font-family: var(--fonte-principal);
    display: flex;
    align-items: center;
    gap: 5px;
    justify-content: center;
    font-size: 20px;
    transition: transform 0.2s ease;
    text-decoration: none;
    color: #e3e3e39d ;

}
.buttoncard2:hover {
    /* 1.05 significa que ele vai aumentar 5% do tamanho original */
    transform: scale(1.05); 
    background-color: rgba(179, 177, 177, 0.135);
}
.iconbuttoncard1{
    width: 30px;
    height: 30px;
}
.iconbuttoncard1 svg{
    fill: #e3e3e39d; 
}
.buttoncard2{
    line-height: 30px;
}
.iconbuttoncard2{
    width: 30px;
    height: 30px;
    font-size: 25px;
    font-weight: bolder;
    line-height: 30px;
    font-family: var(--fonte-principal);
    color: rgba(255, 255, 255, 0.596);
    

}



